.cartPreviewContainer {
  height: 70px !important;
  background-color: #f2f3f5;
  padding-top: 10px;
}
.product {
  color: #077825;
}

.imageContainer {
  width: 50px;
  height: 50px;
}

.subtotal {
  padding-top: 10px;
}

.button {
  padding-top: 15px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
}
