<div class="card mb-4 shadow-sm">
  <img
    class="bd-placeholder-img card-img-top"
    width="100%"
    src="https://assets.adidas.com/images/w_840,h_840,f_auto,q_auto:sensitive,fl_lossy/6e145c78367b48efb606ab17012331e0_9366/Tenis_NMD_R1_Negro_EF4268_01_standard.jpg"
  />
  <div class="card-body">
    <p class="card-text">
      <strong> {{ 254 | currency: 'USD' }} </strong>
    </p>
    <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer.
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary product-btn">
          Add To Cart
        </button>
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary product-btn"
        >
          View Details
        </button>
      </div>
    </div>
  </div>
</div>
