.navContainer {
  padding-bottom: 5px !important;
  margin-left: 0px !important;
  margin-right: 0% !important;
  margin-bottom: 16px !important;
}

input,
h5 {
  text-align: center;
  color: #0069d9;
}

.searchbar {
  padding-right: 15px;
}
